.everywhere-fast {
  width: 469px;

  font-family: TT Norms;
  font-size: 30px;
  line-height: 25px;
  color: #3d3d3d;
}

.one-click {
  font-family: Muli;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 80px;
  color: #2b4403;
}
